html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    background-color: rgb(191, 255, 0);
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
}

.header, .sidebar, .content {
    text-align: center;
}

.header {
    background-color: #ffffff;
    grid-area: header;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.header > div > div {
    display: flex;
    gap: 15px;
}

.sidebar {
    background-color: #1992d4;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu {
    display: inherit;
    flex-direction: inherit;
    gap: 15px;
}

.content {
    background-color: #e2e8f0;
    grid-area: content;
}