:root {
    --default-gap: 15px;
}

/* PAGE LAYOUT*/

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

/* HEADER LAYOUT */

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.header > div > div {
    display: inherit;
    gap: var(--default-gap);
}

/* SIDEBAR LAYOUT */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar-menu {
    display: inherit;
    flex-direction: inherit;
    gap: var(--default-gap);
}

/* CONTENT LAYOUT */

.content {
    display: grid;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    grid-template-columns: 2.5fr 1fr;
    gap: var(--default-gap);
    padding-bottom: 30px;
    padding-left: var(--default-gap);
    padding-right: 30px;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/* PROJECTS LAYOUT */

.project-box {
    display: grid;
    gap: var(--default-gap);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: start;
}

.project-item {
    height: 150px;
}

/* ANNOUNCEMENTS AND TRENDING LAYOUT */

.announcements, .trending {
    display: flex;
    flex-direction: column;
}

.announce-box, .trend-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.announce-item, .trend-item {
    flex-grow: 1;
}

/* COLORS */

.header, .trend-box, .announce-box, .project-item {
    background-color: #ffffff;
}

.sidebar {
    background-color: #1992d4;
}

.content {
    background-color: #e2e8f0;
}

/* FONT STYLING */

.project-title {
    font-size: 1.5em;
}

/* DUMMY STYLING */
.header, .sidebar, .content {
    text-align: center;
}